<body>
	<div id="main">	
		<h1>Пока!</h1>
		<p> Был рад знакомству</p>
		<p><img src="../images/bye.jpg" width="300" height="200" alt=""></p>
 		<p> А теперь</p>
		<p> можно опять <%= link_to "поздороваться", say_hello_path %></p>
	</div>
</body>