<body>
	<div id="main">
		<h1>Привет!</h1>
		<p> Ты не поверишь!</p>
		<p> Но сейчас ровно:</p>
		<p style="color:#0072ff; font: Helvetica;"> <%= @time %></p>
		<p style="font-size: 20px;"> А теперь <%= link_to "Прощай", say_goodbye_path %></p> !
	</div>
</body>

